/* 
when user clicks button

*/
.first {
  background-color: indianred;
  height: 100px;
  width: 100px;
  /* margin: 10px 20px 40px 100px; */
  border: 14px solid pink;
  padding: 89px;
}
.column, .row {
  height: 100%;
  width: 100%;
  border: 1px solid palevioletred;
}
.row {
  border: 1px solid goldenrod;
}
.item {
  height: 60px;
  margin: 10px;
  background-color: hotpink;
}
.row .item {
  display: inline-block;
  width: 100px;
}