


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
.grid-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 10% repeat(8, 1fr) 10%;
  grid-template-rows: 25% 15% 20% 1fr;
}
.box {
  height: 100%;
  width: 100%;
}

.red-box {
  background-color: red;
  grid-column: 3/4;
  grid-row: 2/3;
}

.blue-box {
  background-color: blue;
  grid-column: 4/6;
  grid-row: 4/-1;
}
.yellow-box {
  background-color: yellow;
  grid-column: 3/4;
  grid-row: 4/5;
}
.yellow-box h1 {
  transform: rotate(-90deg);
}
.pink-box {
  background-color: pink;
}
.green-box {
  background-color: green;
}
.pink-box img {
  width: 100%;
}